In [2]:
import pandas as pd

df = pd.read_csv(r"C:\Users\ranju\Downloads\customer.txt",delimiter="\t")
print(df)

C:\Users\ranju\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

   deviceid  customerid  price  alerts   location state
0         1        11.0    100      14  Bengaluru    KA
1         2        22.0  "200"      25     Mysuru    KA
2         3        33.0    300       6         AP   NaN
3         4        44.0    ten       7    Chennai    TN
4         5         NaN    250       8   Hubballi    KA
5         6        66.0    600       9      Bidar    KA
6         7        77.0    NaN       7    Belgavi    KA

# Load the tsv file and add custom headers namely Device ID, Customer ID, Price, Alerts, City and State
# Print a message if the dataset contains any missing values
# Print the columns with number of missing values
# Fill missing or incompatible or invalid values in the price column with the mean price
# Drop the rows with missing values in the Device ID or Customer ID column
# Find the total price of all the devices
# Show the total number of alarms from valid devices from each state
# Display the devices with more alarms than the mean

In [3]:
df.rename(columns = {'deviceid' :'Device ID','customerid':'Customer_ID','price':'Price','alerts':'Alerts','location':'Location','state':'State'}, inplace = True)
print(df.columns)
print(df)

Index(['Device ID', 'Customer_ID', 'Price', 'Alerts', 'Location', 'State'], dtype='object')
   Device ID  Customer_ID  Price  Alerts   Location State
0          1         11.0    100      14  Bengaluru    KA
1          2         22.0  "200"      25     Mysuru    KA
2          3         33.0    300       6         AP   NaN
3          4         44.0    ten       7    Chennai    TN
4          5          NaN    250       8   Hubballi    KA
5          6         66.0    600       9      Bidar    KA
6          7         77.0    NaN       7    Belgavi    KA

In [4]:
if df.isnull().values.any():
     print("The Dataset contain the missing values")
else:
    print("No Missing values in the Dataset")

The Dataset contain the missing values

In [5]:
df2 = df.isnull().count()
print(df2)

DF3 = df.fillna("0")
print(DF3)

Device ID      7
Customer_ID    7
Price          7
Alerts         7
Location       7
State          7
dtype: int64
   Device ID Customer_ID  Price  Alerts   Location State
0          1        11.0    100      14  Bengaluru    KA
1          2        22.0  "200"      25     Mysuru    KA
2          3        33.0    300       6         AP     0
3          4        44.0    ten       7    Chennai    TN
4          5           0    250       8   Hubballi    KA
5          6        66.0    600       9      Bidar    KA
6          7        77.0      0       7    Belgavi    KA

In [6]:
df['Price'] = pd.to_numeric(df['Price'],errors='coerce')
#re = pd.replace(df['Price']({"200": "","ten": ""))

print(df['Price'])

0    100.0
1      NaN
2    300.0
3      NaN
4    250.0
5    600.0
6      NaN
Name: Price, dtype: float64

In [7]:
mean = df['Price'].mean()
print(mean)

312.5

In [8]:
new_price = df['Price'].fillna(mean)
print(new_price)
print(df)

0    100.0
1    312.5
2    300.0
3    312.5
4    250.0
5    600.0
6    312.5
Name: Price, dtype: float64
   Device ID  Customer_ID  Price  Alerts   Location State
0          1         11.0  100.0      14  Bengaluru    KA
1          2         22.0    NaN      25     Mysuru    KA
2          3         33.0  300.0       6         AP   NaN
3          4         44.0    NaN       7    Chennai    TN
4          5          NaN  250.0       8   Hubballi    KA
5          6         66.0  600.0       9      Bidar    KA
6          7         77.0    NaN       7    Belgavi    KA

In [9]:
dr = df.dropna(subset =  ['Device ID','Customer_ID'], how = "any")
print(dr)

   Device ID  Customer_ID  Price  Alerts   Location State
0          1         11.0  100.0      14  Bengaluru    KA
1          2         22.0    NaN      25     Mysuru    KA
2          3         33.0  300.0       6         AP   NaN
3          4         44.0    NaN       7    Chennai    TN
5          6         66.0  600.0       9      Bidar    KA
6          7         77.0    NaN       7    Belgavi    KA

In [10]:
drop_col = dr.dropna(axis = 1)
print(drop_col)

   Device ID  Customer_ID  Alerts   Location
0          1         11.0      14  Bengaluru
1          2         22.0      25     Mysuru
2          3         33.0       6         AP
3          4         44.0       7    Chennai
5          6         66.0       9      Bidar
6          7         77.0       7    Belgavi

In [11]:
total_price = df.groupby(['Device ID','Price']).sum()
print(total_price)

                 Customer_ID  Alerts   Location State
Device ID Price
1         100.0         11.0      14  Bengaluru    KA
3         300.0         33.0       6         AP     0
5         250.0          0.0       8   Hubballi    KA
6         600.0         66.0       9      Bidar    KA

In [12]:
sort = df['Price'].sort_values(ascending = False )
print(sort)

5    600.0
2    300.0
4    250.0
0    100.0
1      NaN
3      NaN
6      NaN
Name: Price, dtype: float64

In [13]:
#find the location belong to either Mysuru or Bidar
location = df[df['Location'].isin(['Mysuru','Bidar'])]
print(location)

   Device ID  Customer_ID  Price  Alerts Location State
1          2         22.0    NaN      25   Mysuru    KA
5          6         66.0  600.0       9    Bidar    KA

In [14]:
# adding new column 

df['new_column'] = df['Price']*100
print(df)

   Device ID  Customer_ID  Price  Alerts   Location State  new_column
0          1         11.0  100.0      14  Bengaluru    KA     10000.0
1          2         22.0    NaN      25     Mysuru    KA         NaN
2          3         33.0  300.0       6         AP   NaN     30000.0
3          4         44.0    NaN       7    Chennai    TN         NaN
4          5          NaN  250.0       8   Hubballi    KA     25000.0
5          6         66.0  600.0       9      Bidar    KA     60000.0
6          7         77.0    NaN       7    Belgavi    KA         NaN

In [18]:
val_alerts = df.dropna(subset =['Alerts'])

rslt = val_alerts.groupby('State')['Alerts'].sum()
print(rslt)

State
KA    63
TN     7
Name: Alerts, dtype: int64

In [30]:
alert = df[(df['Alerts']) > (df['Alerts'].mean())]
print(alert)

   Device ID  Customer_ID  Price  Alerts   Location State  new_column
0          1         11.0  100.0      14  Bengaluru    KA     10000.0
1          2         22.0    NaN      25     Mysuru    KA         NaN

In [29]:
mean_alert = df['Alerts'].mean()
print(mean_alert)

10.857142857142858