RDD

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [13]:
rdds = spark.sparkContext.parallelize([("Mysore",2),("Mandya", 4)])

In [23]:
rdds.collect()

[('Mysore', 2), ('Mandya', 4)]

In [24]:
rdds.count()

2

DATAFRAME FROM RDD

In [22]:
df = spark.createDataFrame(rdds, schema =("city","rank"))

df.show()

C:\Users\ranju\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

+------+----+
|  city|rank|
+------+----+
|Mysore|   2|
|Mandya|   4|
+------+----+

In [25]:
df.show(1)

+------+----+
|  city|rank|
+------+----+
|Mysore|   2|
+------+----+
only showing top 1 row

In [27]:
df.printSchema()

root
 |-- city: string (nullable = true)
 |-- rank: long (nullable = true)

In [73]:
df1 = spark.read.csv(r"C:\Users\ranju\Downloads\movie_ratings.csv",inferSchema = True ,header = True )

df1.show()

+-------+------+------+----------------+
|MovieID|UserID|Rating|       Timestamp|
+-------+------+------+----------------+
|      1|   101|     4|19-12-2024 08:00|
|      2|   102|     5|19-12-2024 08:10|
|      3|   103|     3|19-12-2024 08:15|
|      4|   104|     2|19-12-2024 08:20|
|      5|   105|     4|19-12-2024 08:25|
|      6|   106|     5|19-12-2024 08:30|
|      7|   107|     4|19-12-2024 08:35|
|      8|   108|     3|19-12-2024 08:40|
|      9|   109|     5|19-12-2024 08:45|
|     10|   110|     2|19-12-2024 08:50|
|     11|   101|     4|19-12-2024 08:55|
|     12|   102|     3|19-12-2024 09:00|
|     13|   103|     5|19-12-2024 09:05|
|     14|   104|     2|19-12-2024 09:10|
|     15|   105|     4|19-12-2024 09:15|
|     16|   106|     5|19-12-2024 09:20|
|     17|   107|     3|19-12-2024 09:25|
|     18|   108|     4|19-12-2024 09:30|
|     19|   109|     2|19-12-2024 09:35|
|     20|   110|     5|19-12-2024 09:40|
+-------+------+------+----------------+

In [74]:
df1.printSchema()

root
 |-- MovieID: integer (nullable = true)
 |-- UserID: integer (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Timestamp: string (nullable = true)

In [75]:
df1.count()

20

In [76]:
df1.select("MovieID","Rating").show(5)

+-------+------+
|MovieID|Rating|
+-------+------+
|      1|     4|
|      2|     5|
|      3|     3|
|      4|     2|
|      5|     4|
+-------+------+
only showing top 5 rows

In [77]:
df1.filter(df1["Rating"] > 3).show()

+-------+------+------+----------------+
|MovieID|UserID|Rating|       Timestamp|
+-------+------+------+----------------+
|      1|   101|     4|19-12-2024 08:00|
|      2|   102|     5|19-12-2024 08:10|
|      5|   105|     4|19-12-2024 08:25|
|      6|   106|     5|19-12-2024 08:30|
|      7|   107|     4|19-12-2024 08:35|
|      9|   109|     5|19-12-2024 08:45|
|     11|   101|     4|19-12-2024 08:55|
|     13|   103|     5|19-12-2024 09:05|
|     15|   105|     4|19-12-2024 09:15|
|     16|   106|     5|19-12-2024 09:20|
|     18|   108|     4|19-12-2024 09:30|
|     20|   110|     5|19-12-2024 09:40|
+-------+------+------+----------------+

In [78]:
df1.sort("UserID").show(5) # ascending order 

df1.sort("UserID" , ascending = False).show(5) #descending order

+-------+------+------+----------------+
|MovieID|UserID|Rating|       Timestamp|
+-------+------+------+----------------+
|      1|   101|     4|19-12-2024 08:00|
|     11|   101|     4|19-12-2024 08:55|
|      2|   102|     5|19-12-2024 08:10|
|     12|   102|     3|19-12-2024 09:00|
|      3|   103|     3|19-12-2024 08:15|
+-------+------+------+----------------+
only showing top 5 rows

+-------+------+------+----------------+
|MovieID|UserID|Rating|       Timestamp|
+-------+------+------+----------------+
|     10|   110|     2|19-12-2024 08:50|
|     20|   110|     5|19-12-2024 09:40|
|      9|   109|     5|19-12-2024 08:45|
|     19|   109|     2|19-12-2024 09:35|
|      8|   108|     3|19-12-2024 08:40|
+-------+------+------+----------------+
only showing top 5 rows

In [79]:
df1.describe().show()

+-------+-----------------+-----------------+------------------+----------------+
|summary|          MovieID|           UserID|            Rating|       Timestamp|
+-------+-----------------+-----------------+------------------+----------------+
|  count|               20|               20|                20|              20|
|   mean|             10.5|            105.5|               3.7|            NULL|
| stddev|5.916079783099616|2.946898458772511|1.1285761872936695|            NULL|
|    min|                1|              101|                 2|19-12-2024 08:00|
|    max|               20|              110|                 5|19-12-2024 09:40|
+-------+-----------------+-----------------+------------------+----------------+

In [80]:
df1.columns

['MovieID', 'UserID', 'Rating', 'Timestamp']

In [62]:
spark.stop()

READING JSON

In [64]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [69]:
fileName = "C:\\Users\\ranju\\Downloads\\sample1.json"
df_raw = spark.read.option("multiLine", "true").format("json").load(fileName)

In [70]:
df_raw.show()

+-----+-----+-----+
|color|fruit| size|
+-----+-----+-----+
|  Red|Apple|Large|
+-----+-----+-----+

In [71]:
spark.stop()

createOrReplacetempView

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql import Window
import pyspark.sql.types as T

spark = SparkSession.builder.getOrCreate()

In [3]:
df4 = spark.read.csv(r"C:\Users\ranju\Downloads\movie_ratings.csv",inferSchema =True,header=True)

In [4]:
df4.show()

+-------+------+------+----------------+
|MovieID|UserID|Rating|       Timestamp|
+-------+------+------+----------------+
|      1|   101|     4|19-12-2024 08:00|
|      2|   102|     5|19-12-2024 08:10|
|      3|   103|     3|19-12-2024 08:15|
|      4|   104|     2|19-12-2024 08:20|
|      5|   105|     4|19-12-2024 08:25|
|      6|   106|     5|19-12-2024 08:30|
|      7|   107|     4|19-12-2024 08:35|
|      8|   108|     3|19-12-2024 08:40|
|      9|   109|     5|19-12-2024 08:45|
|     10|   110|     2|19-12-2024 08:50|
|     11|   101|     4|19-12-2024 08:55|
|     12|   102|     3|19-12-2024 09:00|
|     13|   103|     5|19-12-2024 09:05|
|     14|   104|     2|19-12-2024 09:10|
|     15|   105|     4|19-12-2024 09:15|
|     16|   106|     5|19-12-2024 09:20|
|     17|   107|     3|19-12-2024 09:25|
|     18|   108|     4|19-12-2024 09:30|
|     19|   109|     2|19-12-2024 09:35|
|     20|   110|     5|19-12-2024 09:40|
+-------+------+------+----------------+

In [5]:
df4.createOrReplaceTempView("df4")

In [6]:
spark.sql("select * from df4").show()

+-------+------+------+----------------+
|MovieID|UserID|Rating|       Timestamp|
+-------+------+------+----------------+
|      1|   101|     4|19-12-2024 08:00|
|      2|   102|     5|19-12-2024 08:10|
|      3|   103|     3|19-12-2024 08:15|
|      4|   104|     2|19-12-2024 08:20|
|      5|   105|     4|19-12-2024 08:25|
|      6|   106|     5|19-12-2024 08:30|
|      7|   107|     4|19-12-2024 08:35|
|      8|   108|     3|19-12-2024 08:40|
|      9|   109|     5|19-12-2024 08:45|
|     10|   110|     2|19-12-2024 08:50|
|     11|   101|     4|19-12-2024 08:55|
|     12|   102|     3|19-12-2024 09:00|
|     13|   103|     5|19-12-2024 09:05|
|     14|   104|     2|19-12-2024 09:10|
|     15|   105|     4|19-12-2024 09:15|
|     16|   106|     5|19-12-2024 09:20|
|     17|   107|     3|19-12-2024 09:25|
|     18|   108|     4|19-12-2024 09:30|
|     19|   109|     2|19-12-2024 09:35|
|     20|   110|     5|19-12-2024 09:40|
+-------+------+------+----------------+

In [7]:
spark.sql("select count (Rating) from df4").show()

+-------------+
|count(Rating)|
+-------------+
|           20|
+-------------+

In [8]:
spark.sql("select MovieID,UserID , Rating from df4 where Rating = 4 ").show()

+-------+------+------+
|MovieID|UserID|Rating|
+-------+------+------+
|      1|   101|     4|
|      5|   105|     4|
|      7|   107|     4|
|     11|   101|     4|
|     15|   105|     4|
|     18|   108|     4|
+-------+------+------+

In [9]:
sqldf = spark.sql("select * from df4")
sqldf.show()

+-------+------+------+----------------+
|MovieID|UserID|Rating|       Timestamp|
+-------+------+------+----------------+
|      1|   101|     4|19-12-2024 08:00|
|      2|   102|     5|19-12-2024 08:10|
|      3|   103|     3|19-12-2024 08:15|
|      4|   104|     2|19-12-2024 08:20|
|      5|   105|     4|19-12-2024 08:25|
|      6|   106|     5|19-12-2024 08:30|
|      7|   107|     4|19-12-2024 08:35|
|      8|   108|     3|19-12-2024 08:40|
|      9|   109|     5|19-12-2024 08:45|
|     10|   110|     2|19-12-2024 08:50|
|     11|   101|     4|19-12-2024 08:55|
|     12|   102|     3|19-12-2024 09:00|
|     13|   103|     5|19-12-2024 09:05|
|     14|   104|     2|19-12-2024 09:10|
|     15|   105|     4|19-12-2024 09:15|
|     16|   106|     5|19-12-2024 09:20|
|     17|   107|     3|19-12-2024 09:25|
|     18|   108|     4|19-12-2024 09:30|
|     19|   109|     2|19-12-2024 09:35|
|     20|   110|     5|19-12-2024 09:40|
+-------+------+------+----------------+

In [10]:
df4.count()

20

In [11]:
df4.columns

['MovieID', 'UserID', 'Rating', 'Timestamp']

In [12]:
df4.withColumn("new_Rating", df4.Rating * 2).show() #withColumn used to creat new column

+-------+------+------+----------------+----------+
|MovieID|UserID|Rating|       Timestamp|new_Rating|
+-------+------+------+----------------+----------+
|      1|   101|     4|19-12-2024 08:00|         8|
|      2|   102|     5|19-12-2024 08:10|        10|
|      3|   103|     3|19-12-2024 08:15|         6|
|      4|   104|     2|19-12-2024 08:20|         4|
|      5|   105|     4|19-12-2024 08:25|         8|
|      6|   106|     5|19-12-2024 08:30|        10|
|      7|   107|     4|19-12-2024 08:35|         8|
|      8|   108|     3|19-12-2024 08:40|         6|
|      9|   109|     5|19-12-2024 08:45|        10|
|     10|   110|     2|19-12-2024 08:50|         4|
|     11|   101|     4|19-12-2024 08:55|         8|
|     12|   102|     3|19-12-2024 09:00|         6|
|     13|   103|     5|19-12-2024 09:05|        10|
|     14|   104|     2|19-12-2024 09:10|         4|
|     15|   105|     4|19-12-2024 09:15|         8|
|     16|   106|     5|19-12-2024 09:20|        10|
|     17|   107|     3|19-12-2024 09:25|         6|
|     18|   108|     4|19-12-2024 09:30|         8|
|     19|   109|     2|19-12-2024 09:35|         4|
|     20|   110|     5|19-12-2024 09:40|        10|
+-------+------+------+----------------+----------+

In [13]:
df4.withColumn("Half_Rating", df4.Rating / 2).show()

+-------+------+------+----------------+-----------+
|MovieID|UserID|Rating|       Timestamp|Half_Rating|
+-------+------+------+----------------+-----------+
|      1|   101|     4|19-12-2024 08:00|        2.0|
|      2|   102|     5|19-12-2024 08:10|        2.5|
|      3|   103|     3|19-12-2024 08:15|        1.5|
|      4|   104|     2|19-12-2024 08:20|        1.0|
|      5|   105|     4|19-12-2024 08:25|        2.0|
|      6|   106|     5|19-12-2024 08:30|        2.5|
|      7|   107|     4|19-12-2024 08:35|        2.0|
|      8|   108|     3|19-12-2024 08:40|        1.5|
|      9|   109|     5|19-12-2024 08:45|        2.5|
|     10|   110|     2|19-12-2024 08:50|        1.0|
|     11|   101|     4|19-12-2024 08:55|        2.0|
|     12|   102|     3|19-12-2024 09:00|        1.5|
|     13|   103|     5|19-12-2024 09:05|        2.5|
|     14|   104|     2|19-12-2024 09:10|        1.0|
|     15|   105|     4|19-12-2024 09:15|        2.0|
|     16|   106|     5|19-12-2024 09:20|        2.5|
|     17|   107|     3|19-12-2024 09:25|        1.5|
|     18|   108|     4|19-12-2024 09:30|        2.0|
|     19|   109|     2|19-12-2024 09:35|        1.0|
|     20|   110|     5|19-12-2024 09:40|        2.5|
+-------+------+------+----------------+-----------+

In [15]:
df4.withColumnRenamed("Rating","Movie_Rating ").show()

+-------+------+-------------+----------------+
|MovieID|UserID|Movie_Rating |       Timestamp|
+-------+------+-------------+----------------+
|      1|   101|            4|19-12-2024 08:00|
|      2|   102|            5|19-12-2024 08:10|
|      3|   103|            3|19-12-2024 08:15|
|      4|   104|            2|19-12-2024 08:20|
|      5|   105|            4|19-12-2024 08:25|
|      6|   106|            5|19-12-2024 08:30|
|      7|   107|            4|19-12-2024 08:35|
|      8|   108|            3|19-12-2024 08:40|
|      9|   109|            5|19-12-2024 08:45|
|     10|   110|            2|19-12-2024 08:50|
|     11|   101|            4|19-12-2024 08:55|
|     12|   102|            3|19-12-2024 09:00|
|     13|   103|            5|19-12-2024 09:05|
|     14|   104|            2|19-12-2024 09:10|
|     15|   105|            4|19-12-2024 09:15|
|     16|   106|            5|19-12-2024 09:20|
|     17|   107|            3|19-12-2024 09:25|
|     18|   108|            4|19-12-2024 09:30|
|     19|   109|            2|19-12-2024 09:35|
|     20|   110|            5|19-12-2024 09:40|
+-------+------+-------------+----------------+

In [18]:
df4.select(df4.Rating.alias("Movie_performance")).show()

+-----------------+
|Movie_performance|
+-----------------+
|                4|
|                5|
|                3|
|                2|
|                4|
|                5|
|                4|
|                3|
|                5|
|                2|
|                4|
|                3|
|                5|
|                2|
|                4|
|                5|
|                3|
|                4|
|                2|
|                5|
+-----------------+

In [23]:
df4.select("Rating").distinct().show()

+------+
|Rating|
+------+
|     3|
|     5|
|     4|
|     2|
+------+

In [24]:
df4.select("Rating").orderBy(df4.Rating.asc()).show()

+------+
|Rating|
+------+
|     2|
|     2|
|     2|
|     2|
|     3|
|     3|
|     3|
|     3|
|     4|
|     4|
|     4|
|     4|
|     4|
|     4|
|     5|
|     5|
|     5|
|     5|
|     5|
|     5|
+------+

In [25]:
df4.select("Rating").orderBy(df4.Rating.desc()).show()

+------+
|Rating|
+------+
|     5|
|     5|
|     5|
|     5|
|     5|
|     5|
|     4|
|     4|
|     4|
|     4|
|     4|
|     4|
|     3|
|     3|
|     3|
|     3|
|     2|
|     2|
|     2|
|     2|
+------+