In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\ranju\Downloads\large_sales_data.csv")
df.head(10)

C:\Users\ranju\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,OrderID,Product,Category,Price,Quantity,Region,Date,Total_Sale
0,1001,Table,Electronics,34,7,East,2024-12-01,238
1,1002,Desk,Electronics,832,7,South,2024-12-02,5824
2,1003,Headphone,Furniture,84,9,East,2024-12-03,756
3,1004,Phone,Electronics,876,3,North,2024-12-04,2628
4,1005,Table,Furniture,858,7,East,2024-12-05,6006
5,1006,Lamp,Furniture,540,1,West,2024-12-06,540
6,1007,Chair,Furniture,363,4,West,2024-12-07,1452
7,1008,Table,Furniture,148,4,South,2024-12-08,592
8,1009,Headphone,Furniture,667,5,West,2024-12-09,3335
9,1010,Phone,Furniture,491,7,North,2024-12-10,3437

In [6]:
unique_counts = df[['Product','Category']].nunique()

print(unique_counts)

unique_products = df['Product'].unique()
unique_categories = df['Category'].unique()
print(unique_products)
print(unique_categories)

Product     10
Category     2
dtype: int64
['Table' 'Desk' 'Headphone' 'Phone' 'Lamp' 'Chair' 'Monitor' 'Mouse'
 'Laptop' 'Sofa']
['Electronics' 'Furniture']

In [4]:
a = df.drop_duplicates()
print(a)

    OrderID    Product     Category  Price  Quantity Region        Date  \
0      1001      Table  Electronics     34         7   East  2024-12-01
1      1002       Desk  Electronics    832         7  South  2024-12-02
2      1003  Headphone    Furniture     84         9   East  2024-12-03
3      1004      Phone  Electronics    876         3  North  2024-12-04
4      1005      Table    Furniture    858         7   East  2024-12-05
5      1006       Lamp    Furniture    540         1   West  2024-12-06
6      1007      Chair    Furniture    363         4   West  2024-12-07
7      1008      Table    Furniture    148         4  South  2024-12-08
8      1009  Headphone    Furniture    667         5   West  2024-12-09
9      1010      Phone    Furniture    491         7  North  2024-12-10
10     1011       Desk    Furniture     82         7   East  2024-12-11
11     1012  Headphone    Furniture    158         4  South  2024-12-12
12     1013  Headphone    Furniture    518         7   East  2024-12-13
13     1014      Chair    Furniture    612         3   East  2024-12-14
14     1015    Monitor    Furniture    411         6  North  2024-12-15
15     1016      Phone  Electronics    694         2   West  2024-12-16
16     1017      Mouse  Electronics    438         9   West  2024-12-17
17     1018  Headphone    Furniture    308         5   East  2024-12-18
18     1019    Monitor    Furniture    398         6  South  2024-12-19
19     1020      Mouse    Furniture    792         4   West  2024-12-20
20     1021      Phone    Furniture    509         7  South  2024-12-21
21     1022     Laptop    Furniture    250         9   West  2024-12-22
22     1023       Lamp    Furniture     60         7  South  2024-12-23
23     1024    Monitor    Furniture     47         1  North  2024-12-24
24     1025       Sofa    Furniture    154         1  South  2024-12-25
25     1026     Laptop  Electronics    220         9  North  2024-12-26
26     1027       Lamp    Furniture    859         9  North  2024-12-27
27     1028      Chair  Electronics    799         4  South  2024-12-28
28     1029      Table    Furniture    949         9  North  2024-12-29
29     1030       Desk    Furniture     52         3   East  2024-12-30
30     1031       Sofa  Electronics     67         7  North  2024-12-31
31     1032      Chair    Furniture    522         6   West  2025-01-01
32     1033      Phone  Electronics    426         8  South  2025-01-02
33     1034      Chair    Furniture    593         9   East  2025-01-03
34     1035      Table    Furniture    747         5  South  2025-01-04
35     1036      Phone  Electronics    824         1   West  2025-01-05
36     1037       Sofa    Furniture    118         3   West  2025-01-06
37     1038      Table  Electronics    703         8   West  2025-01-07
38     1039      Mouse    Furniture    891         6  North  2025-01-08
39     1040       Desk  Electronics    745         8  North  2025-01-09
40     1041       Sofa  Electronics    566         9  South  2025-01-10
41     1042      Mouse    Furniture    980         4  South  2025-01-11
42     1043       Lamp    Furniture    758         1   East  2025-01-12
43     1044       Sofa  Electronics    632         1   East  2025-01-13
44     1045       Lamp    Furniture    962         4  South  2025-01-14
45     1046      Phone    Furniture    481         7  North  2025-01-15
46     1047      Mouse    Furniture    662         2   West  2025-01-16
47     1048       Desk  Electronics    788         3  South  2025-01-17
48     1049      Table  Electronics     24         1   East  2025-01-18
49     1050  Headphone  Electronics    237         5  North  2025-01-19

    Total_Sale
0          238
1         5824
2          756
3         2628
4         6006
5          540
6         1452
7          592
8         3335
9         3437
10         574
11         632
12        3626
13        1836
14        2466
15        1388
16        3942
17        1540
18        2388
19        3168
20        3563
21        2250
22         420
23          47
24         154
25        1980
26        7731
27        3196
28        8541
29         156
30         469
31        3132
32        3408
33        5337
34        3735
35         824
36         354
37        5624
38        5346
39        5960
40        5094
41        3920
42         758
43         632
44        3848
45        3367
46        1324
47        2364
48          24
49        1185

In [5]:
total_sale = df.groupby('Region')['Total_Sale'].sum()
print(total_sale)

Region
East     21483
North    43157
South    39138
West     27333
Name: Total_Sale, dtype: int64

In [6]:
#Find the top 3 products with the highest total sales.
high_sale = df.groupby('Product')['Total_Sale'].sum()

s = high_sale.sort_values(ascending = False).head(3)
print(s)

Product
Table    24760
Phone    18615
Mouse    17700
Name: Total_Sale, dtype: int64

In [7]:
#Group the data by Category and find the average Price and Quantity for each category.
grp = df.groupby('Category')[['Price','Quantity']].mean()
print(grp)

                  Price  Quantity
Category
Electronics  523.823529  5.411765
Furniture    485.575758  5.212121

In [8]:
#Determine the region with the highest average sales.
h_avg = df.groupby('Region')['Total_Sale'].mean()
a1  = h_avg.sort_values(ascending=False).head(1)
print(a1)

Region
North    3596.416667
Name: Total_Sale, dtype: float64

In [9]:
#Add a column Profit assuming a profit margin of 25% on Total_Sale.
df['profit'] = df['Total_Sale']*0.25
print(df)

    OrderID    Product     Category  Price  Quantity Region        Date  \
0      1001      Table  Electronics     34         7   East  2024-12-01
1      1002       Desk  Electronics    832         7  South  2024-12-02
2      1003  Headphone    Furniture     84         9   East  2024-12-03
3      1004      Phone  Electronics    876         3  North  2024-12-04
4      1005      Table    Furniture    858         7   East  2024-12-05
5      1006       Lamp    Furniture    540         1   West  2024-12-06
6      1007      Chair    Furniture    363         4   West  2024-12-07
7      1008      Table    Furniture    148         4  South  2024-12-08
8      1009  Headphone    Furniture    667         5   West  2024-12-09
9      1010      Phone    Furniture    491         7  North  2024-12-10
10     1011       Desk    Furniture     82         7   East  2024-12-11
11     1012  Headphone    Furniture    158         4  South  2024-12-12
12     1013  Headphone    Furniture    518         7   East  2024-12-13
13     1014      Chair    Furniture    612         3   East  2024-12-14
14     1015    Monitor    Furniture    411         6  North  2024-12-15
15     1016      Phone  Electronics    694         2   West  2024-12-16
16     1017      Mouse  Electronics    438         9   West  2024-12-17
17     1018  Headphone    Furniture    308         5   East  2024-12-18
18     1019    Monitor    Furniture    398         6  South  2024-12-19
19     1020      Mouse    Furniture    792         4   West  2024-12-20
20     1021      Phone    Furniture    509         7  South  2024-12-21
21     1022     Laptop    Furniture    250         9   West  2024-12-22
22     1023       Lamp    Furniture     60         7  South  2024-12-23
23     1024    Monitor    Furniture     47         1  North  2024-12-24
24     1025       Sofa    Furniture    154         1  South  2024-12-25
25     1026     Laptop  Electronics    220         9  North  2024-12-26
26     1027       Lamp    Furniture    859         9  North  2024-12-27
27     1028      Chair  Electronics    799         4  South  2024-12-28
28     1029      Table    Furniture    949         9  North  2024-12-29
29     1030       Desk    Furniture     52         3   East  2024-12-30
30     1031       Sofa  Electronics     67         7  North  2024-12-31
31     1032      Chair    Furniture    522         6   West  2025-01-01
32     1033      Phone  Electronics    426         8  South  2025-01-02
33     1034      Chair    Furniture    593         9   East  2025-01-03
34     1035      Table    Furniture    747         5  South  2025-01-04
35     1036      Phone  Electronics    824         1   West  2025-01-05
36     1037       Sofa    Furniture    118         3   West  2025-01-06
37     1038      Table  Electronics    703         8   West  2025-01-07
38     1039      Mouse    Furniture    891         6  North  2025-01-08
39     1040       Desk  Electronics    745         8  North  2025-01-09
40     1041       Sofa  Electronics    566         9  South  2025-01-10
41     1042      Mouse    Furniture    980         4  South  2025-01-11
42     1043       Lamp    Furniture    758         1   East  2025-01-12
43     1044       Sofa  Electronics    632         1   East  2025-01-13
44     1045       Lamp    Furniture    962         4  South  2025-01-14
45     1046      Phone    Furniture    481         7  North  2025-01-15
46     1047      Mouse    Furniture    662         2   West  2025-01-16
47     1048       Desk  Electronics    788         3  South  2025-01-17
48     1049      Table  Electronics     24         1   East  2025-01-18
49     1050  Headphone  Electronics    237         5  North  2025-01-19

    Total_Sale   profit
0          238    59.50
1         5824  1456.00
2          756   189.00
3         2628   657.00
4         6006  1501.50
5          540   135.00
6         1452   363.00
7          592   148.00
8         3335   833.75
9         3437   859.25
10         574   143.50
11         632   158.00
12        3626   906.50
13        1836   459.00
14        2466   616.50
15        1388   347.00
16        3942   985.50
17        1540   385.00
18        2388   597.00
19        3168   792.00
20        3563   890.75
21        2250   562.50
22         420   105.00
23          47    11.75
24         154    38.50
25        1980   495.00
26        7731  1932.75
27        3196   799.00
28        8541  2135.25
29         156    39.00
30         469   117.25
31        3132   783.00
32        3408   852.00
33        5337  1334.25
34        3735   933.75
35         824   206.00
36         354    88.50
37        5624  1406.00
38        5346  1336.50
39        5960  1490.00
40        5094  1273.50
41        3920   980.00
42         758   189.50
43         632   158.00
44        3848   962.00
45        3367   841.75
46        1324   331.00
47        2364   591.00
48          24     6.00
49        1185   296.25

In [10]:
#Sort the dataset by Profit in descending order and display the top 5 rows.
dataset = df['profit'].sort_values(ascending = False).head(5)
print(dataset)

28    2135.25
26    1932.75
4     1501.50
39    1490.00
1     1456.00
Name: profit, dtype: float64

Check for missing values in the dataset. If any, suggest how to handle them.
Calculate the median Total_Sale for each category and region combination.
Identify the most frequently sold product in the dataset.

In [11]:
med = df.groupby(['Category','Region'])['Total_Sale'].median()
print(med)

Category     Region
Electronics  East       238.0
             North     1980.0
             South     3408.0
             West      2665.0
Furniture    East      1540.0
             North     3437.0
             South     2388.0
             West      1851.0
Name: Total_Sale, dtype: float64

In [8]:
frequent_sale = df['Product'].value_counts().idxmax()
print(frequent_sale)

Table

In [16]:
#Find all orders where the Price is above $500 and the Region is "East."
oder = df[(df['Region']== 'East') & (df['Price']>500)]
print(oder)

    OrderID    Product     Category  Price  Quantity Region        Date  \
4      1005      Table    Furniture    858         7   East  2024-12-05
12     1013  Headphone    Furniture    518         7   East  2024-12-13
13     1014      Chair    Furniture    612         3   East  2024-12-14
33     1034      Chair    Furniture    593         9   East  2025-01-03
42     1043       Lamp    Furniture    758         1   East  2025-01-12
43     1044       Sofa  Electronics    632         1   East  2025-01-13

    Total_Sale   profit
4         6006  1501.50
12        3626   906.50
13        1836   459.00
33        5337  1334.25
42         758   189.50
43         632   158.00

In [46]:
#Extract orders made in December with a Total_Sale greater than $2000.

date = df['Date'].dtype
print(date)

datetime64[ns]

In [64]:
byy = df[df['Quantity']> 5]


rev  = byy.groupby('Region')['OrderID'].count()
print(rev)

Region
East     6
North    9
South    6
West     4
Name: OrderID, dtype: int64